<div id="<%= dom_id(r) %>">

<%= r.body %>
<%# This is a shortcut [@prodct, rev] %>
<%= link_to "Delete", product_review_path(@product, r),
                      method: :delete,
                      remote: true,
                      data: {confirm: "Are you Sure?"} %>

<hr>
</div>
